build/
.idea/
.vscode/
*.swp
*.swm
*.swn
*.onnx
*.swo
*.swa
__pycache__/
.idea/BR_Graph_Accelerator.iml
*.xml
.vscode-root/
python/__pycache__
cmake-build-debug/
make/
docs/~$BR_OPs_Kernel_List_v0.1.xlsx
docs/.~lock.*
scripts/graph
scripts/graph.pdf
python/.idea/python.iml
result/
*.image
*.s
*.whl
data/
*.csv
*.json
*.log
dump*
dist/
*.dot
